.main_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;

    background-color: rgb(11, 15, 14);
    margin: 0 auto;
    padding: 20px 20px;

    gap: 100px;
    color: white;

    flex-direction: column;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    gap: 120px;
}

tr:active {
    background: #4b64d39a !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
    background: none !important;
}

.ant-table {
    max-width: 600px;
}

.leaflet-container {
    border: 1px solid white;
    border-radius: 20px;
    width: 100%;
    max-width: 900px;
    height: 600px;
}

h1 {
    font-size: 24px;
    color: rgb(133, 138, 130);
}
